<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>RequestAreas</servlet-name>
  	<display-name>RequestAreas</display-name>
  	<description>Get all areas</description>
  	<servlet-class>fr.utbm.lp76.alerts.web.RequestAreas</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Runner</servlet-name>
  	<display-name>Runner</display-name>
  	<description>Run the application in a single shot</description>
  	<servlet-class>fr.utbm.lp76.alerts.web.Runner</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>RequestAreas</servlet-name>
  	<url-pattern>/requestAreas.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Runner</servlet-name>
  	<url-pattern>/reload.do</url-pattern>
  </servlet-mapping>
  
</web-app>
